<!DOCTYPE html>
<html>
<head>
  <title>Buddy Up</title>
  <link href='http://fonts.googleapis.com/css?family=Orbitron:400,900,700,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="stylesheets/createform.css">
</head>
<body>
  <form action = "/create">

   <span id="word">Activity</span> <input type="text">

   Activity <input type="text" name="activity">

   </br>
   Time <input id="time" type="time" name="time">
   </br>
   Date <input id="date" type="text" name="date">
   </br>
   Place <input id="place" type="text" name="place">
   </br>
   other <input id="other" type="text" name="other">
   </br>
   <button id="button" type="submit">Create</button>
 </form>
</body>
</html>
