<!DOCTYPE html>
<html>
<head>
  <title>Buddy Up!-Create</title>
  <link href='http://fonts.googleapis.com/css?family=Orbitron:400,900,700,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="stylesheets/createform.css">
</head>
<body>
<h1>Buddy Up!</h1>

 <form action = "/create" method="post">
<div>
<h2>New Event :</h2>
<label>
Activity<input type="text" name="activity" required/>
</label>
</br>
<label>
Time<input type="time" name="time" required />
</label>
</br>
<label>
<span>Date</span><input type="date" name="date" required />
</label>
</br>
<label>
Place<input type="text" name="place" required />
</label>
</br>
<label>
Other<input type="text" name="other" />
</br>
<button type="submit">Create</button>

<a href="/homepage" class ="button">Cancel</a>

</label>

</div>
</form>


</body>
</html>
