

<!DOCTYPE html>
<html> 
  <head> 
    <title> BuddyUp! </title> 
    <link rel="stylesheet" type="text/css" href="stylesheets/titlepage.css">
    <!-- // <script src= "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    // <script src ="js/prof.js"></script>
    // <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'> -->
  </head> 

  <body>
<img src="http://www.simwebsol.com/imagetool/image.php?img=6eeb2414a8ff17b4faca6f1d33768ffc.jpg
"></img>





<section id = "left" align="center">

<p>

</p>
</section>




  </body> 
<html>
