body {
  /*background: url("http://www.planwallpaper.com/static/images/bicycle-1280x720.jpg") no-repeat fixed center;*/
  background-color: #32B8ED;
  background-size: cover;
}


h1 {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 80px;
  margin-bottom: -6%;
}


div.form{
    display: block;
    text-align: center;
    color: black;
}
form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: white;

    margin-top: 10%;
    margin-bottom: 10%;
    font-family: Orbitron;
    font-size: 1em;
    padding: 30px;
    border-radius: 30px;
}


input    {
width:375px;
display:block;
border: 1px solid #999;
height: 25px;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.button {
  padding-left: 65%;
  color: black;
  text-decoration: underline;
}

nav {
  font-size: 12px;
}

#logo {
  margin-right: 10%;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

#name {
  margin-left: 55%;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 17px;
}

#logout_url {
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  margin-left: 2%;
  color: white;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: white;
}
