body {
  background: url("http://www.planwallpaper.com/static/images/bicycle-1280x720.jpg") no-repeat fixed center;
  background-size: cover;
}


h1 {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  color: red;
  font-size: 80px;
  margin-bottom: -6%;
}


div.form
{
    display: block;
    text-align: center;
}
form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: #FF0000;

    margin-top: 10%;
    margin-bottom: 10%;
    font-family: Orbitron;
    font-size: 1em;
    padding: 30px;
    border-radius: 30px;
}


input    {
width:375px;
display:block;
border: 1px solid #999;
height: 25px;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.button {
  padding-left: 65%;
}
