body {
  font-family: 'Orbitron', sans-serif;
  background-repeat: no-repeat;
  background-image: url("https://c1.staticflickr.com/9/8426/7717053328_2133a0c0d3_z.jpg");
  background-size: cover;
}

nav {
  font-size: 10px;
}

h1{
  color: red;
}

#logo {
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
}

#Create {
  color: white;
  text-decoration: none;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  font-size: 3em;
  font-family: monospace;
  display: block;
  border: 2px solid white;
  border-radius: 100px;
  margin-top: 10%;
  font-family: 'Orbitron', sans-serif;
}

#View {
  color: white;
  text-decoration: none;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  font-size: 3em;
  font-family: monospace;
  display: block;
  border: 2px solid white;
  border-radius: 100px;
  margin-top: 5%;
  font-family: 'Orbitron', sans-serif;
}

#logo {
  margin-right: 20%;
  font-family: 'Orbitron', sans-serif;
}

#name {
  margin-right: 10%;
  margin-left: 35%;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 70px;
}

#logout_url {
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
}
