h1 {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

h3 {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

body {
  background-color: red;
  font-family: 'Orbitron', sans-serif;
}

.events {
  position: absolute;
  right: 400px;
  width: 300px;
  margin-top: 5%;
}

p {
  margin-right: 5%;
}


.showevents {
  border: 5px solid black;
  padding: 20px;
  margin-top: 20px;

}


.scrollToTop{
	width:100px;
	height:130px;
	padding:10px;
	text-align:center;
	color: #444;
	position:fixed;
	top:75px;
	right:1px;
	background: url('http://png-2.findicons.com/files/icons/2338/reflection/128/arrow_up_1.png') no-repeat 0px 10px;
}


#aboutbuddy {
  padding-top: 50px;
  text-align: center;
  font-family: Times;
}
