h1 {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

h3 {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

body {
  background-color: red;
  font-family: 'Orbitron', sans-serif;
}

p {
  margin-left: 4%;
  float: left;
}

#button {
  margin-left: 1%;
  margin-top: 5%;
}
