<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheets" style="text/css" href="stylesheets/buddies.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src ="JavaScript/buddies.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Orbitron:400' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav>
    <a href='/homepage'><span id="logo">Buddy Up</span></a>
    <span id="name">User: {{user}}</span>
    <a id="logout_url" href="{{logout}}" action = "/titlepage">Sign Out</a>
  </nav>

<a id="Create" href="/create">Buddy Up!</a>
<a id="View" href="/view">View</a>
<a id="Buddies" href="/buddies">Buddies</a>

    <p>Hello World</p>
    {% for request in data %}
      {% if user in request.buddies_users %}
    <section class="showevents">
      <p> {{request.activity}}: </p>
      <p>{{request.time}}, {{request.date}}</p>
      <p>{{request.place}}</p>
      <p>{{request.other}}</p>
      <p>buddies:</p>
      {%for name in request.buddies%}
        {{name}},
      {% endfor %}
    </br>
    </section>
    {% endif %}
    {%endfor%}
<footer>
    <p id="aboutbuddy" >&copy BuddyUp</p>
</footer>
</body>
<html>
