<!DOCTYPE html>
<html>
<head>
  <title>Buddy Up!</title>
  <link href='http://fonts.googleapis.com/css?family=Orbitron:400,900,700,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="stylesheets/viewevents.css">
</head>
<body>

  <h1>Buddy Up!</h1>

  <h3>View Events</h3>
  <h3>View Buddy Requests</h3>
      <p>Buddy Requests</p>
      {% for request in data %}
        <section class="showevents">
        <p> {{request.activity}}: </p>
        <p>{{request.time}}, {{request.date}}</p>
        <p>{{request.place}}</p>
        <p>{{request.other}}</p>
        <p>buddies:</p>
        {%for name in request.buddies%}
          {{name}},
        {%endfor%}
        </br>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <div class="g-plus"
             data-action="share"
             data-width="400"
             data-height="24"
             data-href = "https://buddyup-1020.appspot.com/add?requestid={{request.key.id()}}"></div>
       </br>
     </section>
      {%endfor%}

  </div>

  <section id="aboutbuddy">
    &copy BuddyUp
  </section>

</body>
</html>
