<!DOCTYPE html>
<html>
<head>
  <title>Buddy Up!</title>
  <link href='http://fonts.googleapis.com/css?family=Orbitron:400,900,700,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="stylesheets/viewevents.css">
</head>
<body>



  <!-- the event to be clicked on, followed by a post handler to post onto g+ -->


  <h1>Buddy Up!</h1>

  <h3>View Events</h3>
  <h3>View Buddy Requests</h3>
    <div class="comments">
      <p>Buddy Requests</p>
      {% for request in data %}
        {%if loop.index < 5%}
        <section class="showevents">
        <p> {{request.activity}}: </p>
        <input class="events" type="submit" value="Post">
        <p>{{request.time}}, {{request.date}}</p>
        <p>{{request.place}}</p>
        <p>{{request.other}}</p>

      </br>
    </section>
        {%endif%}
      {%endfor%}

  </div>


</body>
</html>
