<!DOCTYPE html>
<html>
<head>
  <title>Buddy Up!</title>
  <link href='http://fonts.googleapis.com/css?family=Orbitron:400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="stylesheets/viewevents.css">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
  <script src= "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src ="JavaScript/viewevents.js"></script>
</head>
<body>

  <div class="top">
  <nav>
    <nav>
      <a href='/homepage'><span id="logo">Buddy Up</a></span>
      <span id="name">User: {{user}}</span>
      <a id="logout_url" href='/'>Sign Out</a>
  </nav>
  </div>



  <section id = "bottom">


  <h1>Your Buddy Requests</h1>
  <p>share on G+ to notify your buddies</p>

      {% for request in data %}
        {% if request.creator == user %}
        <section class="showevents">
        <p> {{request.activity}}: </p>
        <p>{{request.time}}, {{request.date}}</p>
        <p>{{request.place}}</p>
        <p>{{request.other}}</p>
        <p>buddies:</p>
        {%for name in request.buddies%}
          {{name}},
        {% endfor %}
        </br>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <div class="g-plus"
             data-action="share"
             data-width="400"
             data-height="24"
             data-href = "https://buddyup-1020.appspot.com/add?requestid={{request.key.id()}}"></div>
       </br>
       </br>
       <form action="/view" method="post">
         <input type="hidden" value="{{request.key.id()}}" name = "requestid">
         <button type="submit">Delete Request</button>
      </form>
      </section>
      {% endif %}
      {%endfor%}

  </div>
</section>
  <!-- all your content here -->

<!-- <a href="#" class="scrollToTop">Scroll To Top</a> -->

	<!-- link to scripts here -->


<footer>
  <p id="aboutbuddy" >&copy BuddyUp</p>
</footer>

</body>
</html>
